/*
	reset.css
	normalize.css
*/

@import url("reset.css");

* {
	/* paddings auto */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body{
	font: 13px Arial, Helvetica, sans-serif;
	/* 
	20em
	20rem
	*/
}

.header-content,
.choose-hosting-content,
.description-content,
.screenshot-content,
.footer-content{
	/*max-width: 960px;*/
	width: 78%;
    /*margin-left: auto;
    margin-right: auto;*/
	margin:0 auto;
	
}

.header{
	background: rgb(35,45,59);
	height: 75px;
	padding-top: 27px;
	padding-bottom: 27px;
	
}

/*
.header-content{
	margin-left: auto;
    margin-right: auto;
}*/

.header .logo{

	display: inline-block;
	float: left;
	/*width: 100%;*/
	/*margin-right: 56px;*/
	/*padding-top: 27px;*/
	
	/*float: left;*/
	
	
	/*
	margin-top: 26px;
	margin-bottom: 26px;*/

}

.global-menu{
	display: inline-block;
	float: right;
}
.global-menu ul{
	
	/*margin-bottom:50px;*/
	/*position: absolute;*/
	display: inline-table;
	width: 600px;
	/*width: 50%;*/
	/*position: absolute;*/
	/*float: left;*/

	
}
.global-menu ul{
	float: right;
	display: table;
	/*table-layout: fixed;*/
	/*width: 100%;*/
	
	/*
	margin-left: 664px;
	margin-right: 140px;
	margin-top: 26px;
	margin-bottom: 26px;
	*/
}

.global-menu li{
	display: table-cell;
	text-align: center;
	
}

.global-menu li a{
	color: rgb(127, 131, 136);
	text-decoration: none;
}

.global-menu li a:hover{
	color: #fff;
}

#sign-up{
	background: rgb(163,211,156);
	padding: 13px 20px 13px 20px;
	color: #fff;
	border-bottom: 3px solid rgb(115,158,108);
	border-radius: 4px;
}

#sign-up:hover{
	background: rgb(111,214,96);
	color: #000;
}

.choose-hosting{
	border-top: solid 9px rgb(238,95,21);
	border-bottom: solid 31px rgb(255,116,44);
	background: rgb(255,116,44);
	color: white;
	height: 730px;
}

.choose-hosting h1{
	padding-top: 40px;
	padding-bottom: 28px;
	font-size: 300%;
	text-align: center;
	
}


.choose-hosting .slider{
    display: table;
	margin:0px auto;
	width: 100%;
	vertical-align: middle;
}

.choose-hosting .slider .previous,
.choose-hosting .slider .cloud,
.choose-hosting .slider .next{
    display: table-cell;
	
	/*display: inline-block;*/
	vertical-align: middle;
}
.choose-hosting .slider .previous{
    /*float: left;*/
}
.choose-hosting .slider .next{
    /*float: right;*/
}
.choose-hosting .slider .cloud
{
    margin:0px auto;
   width: 50%;
   
   display: block;
    /*margin-left: auto;
    margin-right: auto;*/
    width: 65%;
}











.custom-select {
    display: inline-block;
    position: relative;
    margin: 0 10px;
}
.custom-select .current-item {
    background: #fff;
    min-width: 300px;
    max-width: 300px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 50px;
}

.custom-select .current-item a img {
  padding: 20px 17px;
}
.custom-select .current-item a {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: rgb(122, 204, 200);
}
.custom-select .current-item span {
  position: absolute;
  top: 17px;
  left: 50px;
  color: rgb(137, 137, 137);
}
.custom-select .current-item .cloud {
  position: absolute;
  top: 15px;
  left: 15px;
}
.custom-select .current-item .clock {
  position: absolute;
  top: 15px;
  left: 15px;
}
.custom-select ul li {
  padding: 5px 10px;
}
.custom-select ul {
  background: #fff;
  border: 1px solid blue;
  list-style: none;
  position: absolute;
  min-width: 100%;
  display: none;
}
.group-select {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.group-select .get-button{
	margin:0px auto;
	background: rgb(122, 204, 200);
	padding: 22px 20px 22px 20px;
	color: #fff;
	border-bottom: 3px solid rgb(74,170,165);
	border-radius: 4px;
	width: 30%;
	font-size: 145%;
	margin-top: 18px;
	/*height: 68px;*/
	/*width: 300px;*/
	
}











.description{
	background: rgb(246, 245, 242);
	height: 616px;
    color: #000;
    

}


.description .left-column{
    float: left;
}
.description .right-column{
    float: right;
}


.screenshot{

	background: rgb(93, 186, 181);
	height: 620px;
}






.footer{
	background: rgb(21, 28, 39);
	height: 641px;
    color: #fff;
}
