* {
	margin: 0;
	padding: 0;
	
		/* paddings auto */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body{
	background: url("../img/bg.gif") repeat 20px 50px;
	/*
	background-image: url("../img/bg.gif");
	background-repeat: repeat;
	background-position: 20px 50px;
	*/
	font-family: Arial, Helvetica, sans-serif;
}

a{
	text-decoration: none;
	/*  Подчеркивание, зачеркив-е */
}

#global-wrap{
	margin: 0 auto;
    padding: 0 9px;
	/*width: 764px;*/
	width: 780px;
	background: #fff url("../img/header.jpg") no-repeat center top;
}

.global-header{
	height: 358px;
    padding-top: 120px;
    padding-left: 47px;
    font-style: italic;
}

.global-header a,
.global-header p{
	color: #fff;
}

.global-header a{
	font-size: 20px;
	display: inline-block;
	/*margin-bottom: 10px;*/
}

.global-menu{
	/* Градиент */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c612+1,00c612+50,00b100+52,00b100+100 */
	background: #00c612; /* Old browsers */
	background: -moz-linear-gradient(top, #00c612 1%, #00c612 50%, #00b100 52%, #00b100 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00c612 1%,#00c612 50%,#00b100 52%,#00b100 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00c612 1%,#00c612 50%,#00b100 52%,#00b100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c612', endColorstr='#00b100',GradientType=0 ); /* IE6-9 */
	
	/* Скругление */
	-webkit-border-radius: 5px;
	border-radius: 2px;
    
    /*margin: 0 20px;*/
    margin-left: 19px;
    /*margin-top: 119px;*/
    margin-right: 23px;
    
    color: #fff;
    font-weight: bold;
}

.global-menu ul{
	display: table;
	width: 100%;
	table-layout: fixed;
	height: 40px;
    padding: 11px;
    padding-left: 40px;
}

.global-menu li{
	display: table-cell;
	text-align: center;
}

.global-menu li a{
    color:white;

}
.global-menu li a:hover{
    /*color: #00f;*/
	text-decoration: underline;
}

.content{
    padding-left: 20px;
    padding-right: 21px;
}

.content-left{
	float: left;
	width: 70%;
    padding-right: 27px;
    padding-left: 11px;
    padding-top: 5px;
}

.content-right{
	float: right;
	width: 30%;
	/*padding-right: 29px;*/
    padding-top: 15px;
}

.one-news-box{
    padding-top: 25px;
	/*padding-bottom: 10px;*/
}

.one-news-box h1,
.one-news-box h2{
	color: rgb(0, 179, 0);
}

.one-news-box h1{
    padding-bottom: 17px;
}

.one-news-box p{
    padding-bottom: 17px;
}
.one-news-box .footer-one-news-box ul{
	display: inline-block;
}

.one-news-box .footer-one-news-box ul li:before{
	content: "|";
	display: inline;
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
}

.one-news-box .footer-one-news-box ul li:first-child:before{
	content: "";
	display: none;
}

.one-news-box .footer-one-news-box ul li{
	display: inline-block;
}

.content-right .bar{
	background: #00c612; /* Old browsers */
	background: -moz-linear-gradient(top, #00c612 1%, #00c612 50%, #00b100 52%, #00b100 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00c612 1%,#00c612 50%,#00b100 52%,#00b100 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00c612 1%,#00c612 50%,#00b100 52%,#00b100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c612', endColorstr='#00b100',GradientType=0 ); /* IE6-9 */
	

	color: white;
	background: url("../img/bg.gif") repeat;
	/*padding: 5px 5px 5px 5px;*/
    padding-left: 19px;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 12px;
	
}

.archives ul li{
    list-style: none;
}

.archives ul li a{

	color: rgb(0, 183, 0);
}
.archives ul li:before{
	content: url("../img/bg.gif");
    background-size: 7px 7px;
    height: 7px;
    width: 7px;
	/*padding-right: 10px;*/
}

/*
	list-style
	background
*/







/*
.custom-select {
    display: inline-block;
    position: relative;
    margin: 0 10px;
}
.custom-select .current-item {
    background: #fff;
    min-width: 300px;
    max-width: 300px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 50px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.custom-select .current-item a img {
  padding: 20px 17px;
}
.custom-select .current-item a {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: rgb(122, 204, 200);
}
.custom-select .current-item span {
  position: absolute;
  top: 17px;
  left: 50px;
  color: rgb(137, 137, 137);
}
.custom-select .current-item .cloud {
  position: absolute;
  top: 15px;
  left: 15px;
}
.custom-select .current-item .clock {
  position: absolute;
  top: 15px;
  left: 15px;
}
.custom-select ul li {
  padding: 5px 10px;
}
.custom-select ul {
  background: #fff;
  border: 1px solid blue;
  list-style: none;
  position: absolute;
  min-width: 100%;
  display: none;
}
.group-select {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
*/
