* {
	margin: 0;
	padding: 0;
	
		/* paddings auto */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body{
	background: url("../img/bg.gif") repeat 20px 50px;
	/*
	background-image: url("../img/bg.gif");
	background-repeat: repeat;
	background-position: 20px 50px;
	*/
	font-family: Arial, Helvetica, sans-serif;
    font-size: 12px
}

a{
	text-decoration: none;
	/*  Подчеркивание, зачеркив-е */
}

#global-wrap{
	margin: 0 auto;
    padding: 0 9px;
	/*width: 764px;*/
	width: 780px;
	background: #fff url("../img/header.jpg") no-repeat center top;
}

.global-header{
	height: 358px;
    padding-top: 120px;
    padding-left: 47px;
    font-style: italic;
}

.global-header a,
.global-header p{
	color: #fff;
}

.global-header a{
	font-size: 20px;
	display: inline-block;
	/*margin-bottom: 10px;*/
}

.global-menu{
	/* Градиент */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c612+1,00c612+50,00b100+52,00b100+100 */
	background: #00c612; /* Old browsers */
	background: -moz-linear-gradient(top, #00c612 1%, #00c612 50%, #00b100 52%, #00b100 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00c612 1%,#00c612 50%,#00b100 52%,#00b100 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00c612 1%,#00c612 50%,#00b100 52%,#00b100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c612', endColorstr='#00b100',GradientType=0 ); /* IE6-9 */
	
	/* Скругление */
	-webkit-border-radius: 5px;
	border-radius: 2px;
    
    /*margin: 0 20px;*/
    margin-left: 19px;
    /*margin-top: 119px;*/
    margin-right: 23px;
    
    color: #fff;
    font-weight: bold;
    font-size: 120%;
}

.global-menu ul{
	display: table;
	width: 100%;
	table-layout: fixed;
	height: 38px;
    padding: 11px;
    padding-left: 40px;
}

.global-menu li{
	display: table-cell;
	text-align: center;
}

.global-menu li a{
    color:white;

}
.global-menu li a:hover{
    /*color: #00f;*/
	text-decoration: underline;
}

.content{
    padding-left: 20px;
    padding-right: 21px;
    padding-bottom: 29px;
}

.content-left{
	float: left;
	width: 70%;
    padding-right: 27px;
    padding-left: 11px;
    padding-top: 5px;
}

.content-right{
	float: right;
	width: 30%;
	/*padding-right: 29px;*/
    padding-top: 15px;
}

.one-news-box{
    padding-top: 20px;
	/*padding-bottom: 10px;*/
}

.one-news-box h1,
.one-news-box h2{
	color: rgb(0, 179, 0);
}

.one-news-box h1{
    padding-bottom: 17px;
}

.one-news-box p{
    padding-bottom: 17px;
}

.one-news-box p:last-of-type{
    padding-bottom: 0px;
}

.one-news-box .footer-one-news-box ul{
	display: inline-block;
}

.one-news-box .footer-one-news-box ul li:before{
	content: " | ";
	display: inline;
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
}

.one-news-box .footer-one-news-box ul li:first-child:before{
	content: "";
	display: none;
}

.one-news-box .footer-one-news-box ul li{
	display: inline-block;
}

.one-news-box a{
    color: rgb(0,133,228);
    text-decoration: underline;
}

.content-right .bar{

	background: url("../img/bg.gif") repeat; 
	
}

.content-right .grad{
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 52%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.1) 52%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.1) 52%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */
    color: white;


    /*padding: 5px 5px 5px 5px;*/
    padding-left: 19px;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 12px;
}

.archives .archive-list{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 11px;
}
.archives ul li{
    list-style: none;
    padding-bottom: 7px;
}

.archives ul li a{

	color: rgb(0, 183, 0);
}
.archives ul li:before{

    background-image: url('../img/bg.gif');
    background-repeat: no-repeat;
    background-size: 7px 7px;
    display: inline-block;
    width: 0px; 
    height: 8px;
    content:"";

    padding: 0px;
    padding-left: 10px;
}
.archives ul li a .num-news{
    color: #000;
    font-style: italic;
}

.company-news-list{
    padding-top: 21px;
    padding-left: 10px;
}

.company-news-list li{
    list-style:none;
    padding-bottom: 10px;
}

.company-news-list .date{
    font-size: 110%;
    font-weight: bold;
    color: rgb(100, 100, 100);
}
.company-news-list .text a{
	color: rgb(0, 183, 0);
}

.company-news-list li .text:before{

    background-image: url('../img/bg.gif');
    background-repeat: no-repeat;
    background-size: 7px 7px;
    display: inline-block;
    width: 0px; 
    height: 8px;
    content:"";

    padding: 0px;
    padding-left: 7px;
}

.global-footer{
    background: rgb(216,237,206); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(216,237,206,1) 1%, rgba(56,170,12,1) 84%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(216,237,206,1) 1%,rgba(56,170,12,1) 84%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(216,237,206,1) 1%,rgba(56,170,12,1) 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8edce', endColorstr='#38aa0c',GradientType=0 ); /* IE6-9 */


    border-top: solid 4px;
    border-color: rgb(36,109,192);
    padding-top: 24px;
    padding-bottom: 22px;
    text-align: center;
    color: white;

}





